{# empty Twig template #}
<p>User name: {{ variables.user_name }}</p>
<p>Table name: {{ variables.table_name }}</p>
<p>Row count: {{ variables.row_cnt }}</p>
<p>File name: {{ variables.file_name }}</p>
Start: {{ variables.start_time.date }}<br>
Operation  completed: {{ variables.records }} records created<br> 
End: {{ variables.end_time.date }}<br>